# Copy this file to .env and fill in your values
# DO NOT commit .env to version control

# Traefik Configuration
TRAEFIK_DOMAIN=traefik.vincentsimard.ca
TRAEFIK_LOG_LEVEL=DEBUG
TRAEFIK_API_INSECURE=true

# Tinyauth Configuration
TINYAUTH_DOMAIN=tinyauth.vincentsimard.ca
TINYAUTH_PORT=3000
TINYAUTH_APP_URL=https://tinyauth.vincentsimard.ca
TINYAUTH_GOOGLE_REDIRECT_URI=https://tinyauth.vincentsimard.ca/api/oauth/callback/google
TINYAUTH_USERS=user:$$2a$$10$$UdLYoJ5lgPsC0RKqYH/jMua7zIn0g9kPqWmhYayJYLaZQ/FTmH2/u
TINYAUTH_GOOGLE_CLIENT_ID=903869307304-n32mmvac3obvm793nok7foksuvaqn2q2.apps.googleusercontent.com
TINYAUTH_GOOGLE_CLIENT_SECRET=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
TINYAUTH_OAUTH_WHITELIST=vincentsimard04@gmail.com
